<div class="hostDetailList">
  <div *ngFor="let hostGeneral of hostGeneralList">
    <div class="col-lg-3 col-md-4 col-sm-6">
      
      <div *ngIf="hostGeneral !== null && hostGeneral.total > 0 && hostGeneral.total !== hostGeneral.disabledByUserCnt">
        <div class="panel panel-danger hostUnit">
          <div class="panel-heading">
            <h4>{{hostGeneral.hostIp}}</h4>
          </div>
          <div class="panel-body">
            <div class="col-md-12 text-center" style="height:36px;">告警中: {{ hostGeneral.alertingCnt }}</div>
            <div class="col-md-12 text-center" style="height:36px;">已过期: {{ hostGeneral.expiredCnt }}</div>
            <div class="col-md-12 text-center" style="height:36px;">已被告警中心暂停: {{ hostGeneral.disabledByCenterCnt }}</div>
            <div class="col-md-12 text-center" style="height:36px;">
              <button class="btn btn-default" routerLink="/hostDetail/{{hostGeneral.hostIp}}">详情查看</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>