<!-- <ul class="hostDetailList" style="max-height:400px; overflow:auto">
  <li *ngFor="let hostDetail of hostDetailList">
    <a [routerLink]="['/hostDetail', hostDetail.hostIp]">{{hostDetail.hostIp}}</a>
  </li>
</ul> -->

<div class="hostDetailList">
  <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let hostDetail of hostDetailList">

    <div *ngIf="hostDetail.alertList.length > 0">
      <div class="panel panel-danger hostUnit" (click)="showDetail(hostDetail)">
        <div class="panel-heading">
          <h4>{{hostDetail.hostIp}}</h4>
          <p>{{hostDetail.alertList.length}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="hostDetail.alertList.length === 0">
      <div class="panel panel-info hostUnit" (click)="showDetail(hostDetail)">
        <div class="panel-heading">
          <h4>{{hostDetail.hostIp}}</h4>
          <p>{{hostDetail.alertList.length}}</p>
        </div>
      </div>
    </div>

  </div>
</div>