<div class="col-md-12" *ngIf="alertDetail && alertDetail.disableUser !== true" [class.expired]="alertDetail.expired" [class.indanger]="!alertDetail.expired">
    <div class="row">
        <div class="col-md-10 col-xs-12" style="min-height: 150px;">
            <h4 *ngIf="alertDetail.expired">{{alertDetail.time}} 已过期</h4>
            <h4 *ngIf="!alertDetail.expired">{{alertDetail.time}} 警报中!</h4>
            <p>
                联系人 {{alertDetail.contact}}
            </p>
            <p>
                信息 {{alertDetail.subject}}
            </p>
        </div>
        <div class="col-md-2 col-xs-12 text-center">
            <button class="btn btn-default" (click)="dismiss(alertDetail)">忽略该警告</button>
        </div>
    </div>
</div>

<!-- [ngStyle]="{'display': if(alertDetail.disableUser)'none'; else '';}" -->