<table class='table' *ngIf="!hostDetail">
  <tr>
    <td>加载中...</td>
  </tr>
</table>

<div *ngIf="hostDetail">
  <table class='table' style="border: 1px black">
    <tr>
      <td>IP</td>
      <td>{{hostDetail.hostIp}}</td>
    </tr>
    <tr>
      <td>Ping</td>
      <td>{{hostDetail.icmpPingDisplay}}</td>
    </tr>
    <tr>
      <td>CPU负载</td>
      <td>{{hostDetail.cpuLoad}}</td>
    </tr>
    <tr>
      <td>内存使用情况</td>
      <td>{{hostDetail.memoryDisplay}}</td>
    </tr>
    <tr>
      <td>磁盘负载</td>
      <td>{{hostDetail.diskUtil}}</td>
    </tr>
    <tr>
      <td>网络流量</td>
      <td>{{hostDetail.networkDisplay}}</td>
    </tr>
  </table>


  <button class="btn btn-default" (click)="goBack()">后退</button>

  <div class="hostDetail">
    <div *ngFor="let alert of hostDetail.alertList">
      <app-alert-detail [alertDetail]="alert"></app-alert-detail>
    </div>
  </div>
</div>